#template-selection-separator {
    padding-bottom: 1em;
    padding-top: 1em;
    display: block;
}

.chosen-info-display {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

.greeting-display {
    box-shadow: 0 0 14px grey;
    padding: 0.4em;
    font-family: sans-serif;
}

.error-message-display {
    margin-top: 0.5em;
    box-shadow: 0 0 14px red;
    padding: 0.6em;
    font-family: sans-serif;
}

.selection-button {
    margin: 0.2em;
    box-shadow: 5px 5px 3px darkgrey;
}

.template-text-to-alter {
    color: darkcyan;
}

.error-text {
    color: darkred;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#greetings-page {
    margin-bottom: 4em;
}

#templateForm {
    margin-bottom: 3em;
}

.text-input {
    width: 65%;
}