<div id="greetings-page" class="container">
    <h1>Greeting Builder</h1>
    <div class="row">
        <!-- Guest Selection -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" align="center">
            <h3>Select a guest:</h3>
            <div ng-repeat="guest in $ctrl.guestInformation">
                <button ng-click="$ctrl.changeActiveGuest(guest)">
                    {{guest.firstName}} {{guest.lastName}}
                </button>
            </div>
        </div>
        <!-- Company Selection -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" align="center">
            <h3>Select a hotel:</h3>
            <div ng-repeat="company in $ctrl.companyInformation">
                <button ng-click="$ctrl.changeActiveCompany(company)">
                    {{company.company}}
                </button>
            </div>
        </div>
        <!-- Template Selection -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" align="center">
            <h3>Select a template:</h3>
            <div ng-repeat="(templateName, template) in $ctrl.templateInformation">
                <button ng-click="$ctrl.changeActiveTemplate(templateName)">
                    {{templateName}}
                </button>
            </div>
            <span id="template-selection-separator">Or</span>
            <button>Create New Template</button>
        </div>
    </div>
    <div class="row" ng-if="creatingNewTemplate">
        <h4>Create Template Form</h4>

    </div>
    <div class="row" ng-if="!creatingNewTemplate">
        <!-- Display the info chosen -->
        <div ng-if="$ctrl.activeGuest !== null" class="chosen-info-display">
            Guest: {{$ctrl.activeGuest.firstName}} {{$ctrl.activeGuest.lastName}}
        </div>
        <div ng-if="$ctrl.activeCompany !== null" class="chosen-info-display">
            Company: {{$ctrl.activeCompany.company}}
        </div>
        <div ng-if="$ctrl.activeTemplate !== null" class="chosen-info-display">
            Template: {{$ctrl.activeTemplate.name}}
        </div>

        <!-- Display the Greeting -->
        <div ng-if="$ctrl.activeGuest !== null && $ctrl.activeCompany !== null &&
                      $ctrl.activeTemplate !== null && $ctrl.errorMessages.length === 0">
            <div ng-show="$ctrl.activeTemplate.name !== 'location'">
                <h4>Greeting:</h4>
                <p class="greeting-display">{{$ctrl.timeBasedGreeting}} {{$ctrl.activeGuest.firstName}}, {{$ctrl.activeTemplate.welcomeMessage}}
                    {{$ctrl.activeCompany.company}}! {{$ctrl.activeTemplate.greetingParagraph}}</p>
            </div>
            <div ng-show="$ctrl.activeTemplate.name === 'location'">
                <h4>Greeting:</h4>
                <p class="greeting-display">{{$ctrl.timeBasedGreeting}} {{$ctrl.activeGuest.firstName}}, {{$ctrl.activeTemplate.welcomeMessage}}
                {{$ctrl.activeCompany.company}} {{$ctrl.activeTemplate.locationMessage}} {{$ctrl.activeCompany.city}}!
                    {{$ctrl.activeTemplate.greetingParagraph}}</p>
            </div>
        </div>

        <!-- Display the error messages -->
        <div ng-if="$ctrl.errorMessages.length > 0">
            <p ng-repeat="error in $ctrl.errorMessages">{{error}}</p>
        </div>

    </div>
</div>